<div class="container text-center">
 <div>
   <h2> <%= @restaurant.name %> </h2>
   <h4> Address: <%= @restaurant.address %> - phone: <%= @restaurant.phone_number %></h4>
   <p> Category: <%=  @restaurant.category %> </p>

   <% @reviews.each do |review| %>
  <div class="card">
  <p> <%= review.content %> </p>
  <p> <%= review.rating %> </p>
   </div>
   <% end %>
   <%= link_to "Add a review", new_restaurant_review_path(@restaurant), :class => 'btn btn-primary btn-xs' %>
   <%= link_to "", restaurants_path, :class => 'fas fa-undo' %>
 </div>




</div>
